{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Data Lake API",
        "description": "API for uploading artifacts to MinIO with Kafka event streaming and Postgres persistence"
    },
    "servers": [
        {
            "url": "http://textailes.athenarc.gr:5000",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:5000",
            "description": "Local Development"
        }
    ],
    "paths": {
        "/artifacts": {
            "get": {
                "tags": ["Artifacts"],
                "summary": "Retrieve a list of artifacts",
                "responses": {
                    "200": {
                        "description": "Artifacts retrieved successfully",
                        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ArtifactResponse" } } }
                    }
                }
            },
            "post": {
                "tags": ["Artifacts"],
                "summary": "Upload an artifact",
                "requestBody": {
                    "required": true,
                    "content": { "multipart/form-data": { "schema": { "$ref": "#/components/schemas/ArtifactInput" } } }
                },
                "responses": {
                    "201": { "description": "Artifact uploaded successfully" }
                }
            }
        },
        "/artifact/{artifact_id}": {
            "get": {
                "tags": ["Artifacts"],
                "summary": "Retrieve a single artifact",
                "parameters": [
                    { "name": "artifact_id", "in": "path", "required": true, "schema": { "type": "string" } }
                ],
                "responses": {
                    "200": { "description": "Artifact retrieved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ArtifactResponse" } } } }
                }
            }
        },
        "/sensor-readings": {
            "get": {
                "tags": ["Sensors"],
                "summary": "Retrieve sensor readings",
                "parameters": [
                    { "name": "sensor_id", "in": "query", "schema": { "type": "string" } },
                    { "name": "start_date", "in": "query", "schema": { "type": "string", "format": "date-time" } },
                    { "name": "end_date", "in": "query", "schema": { "type": "string", "format": "date-time" } },
                    { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
                    { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 50 } }
                ],
                "responses": {
                    "200": {
                        "description": "List of readings",
                        "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/SensorReading" } } } }
                    }
                }
            },
            "post": {
                "tags": ["Sensors"],
                "summary": "Submit a sensor reading",
                "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SensorInput" } } }
                },
                "responses": {
                    "201": { "description": "Reading saved" }
                }
            }
        },
        "/annotations": {
            "get": {
                "tags": ["Annotations (Scenes)"],
                "summary": "Retrieve annotations (scenes) or create one from object/reconstruction",
                "parameters": [
                    {
                        "name": "object_id",
                        "in": "query",
                        "required": false,
                        "schema": { "type": "string", "format": "uuid", "example": "12345678-9abcdef012-3456-789abcdef012" },
                        "description": "Filter by Object ID. Initializes new scene if the specified object/reconstruction is not found in any annotations, but exists in DB."
                    },
                    { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
                    { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 50 } }
                ],
                "responses": {
                    "200": {
                        "description": "Scenes retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "scenes": { "type": "array", "items": { "$ref": "#/components/schemas/AnnotationResponse" } }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Scene initialized from object (reconstruction)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": { "$ref": "#/components/schemas/AnnotationResponse" }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Annotations (Scenes)"],
                "summary": "Create a new scene",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": { "$ref": "#/components/schemas/AnnotationInput" }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Scene saved successfully",
                        "content": {
                            "application/json": {
                                "type": "object",
                                "properties": {
                                    "message": "Scene saved",
                                    "scene_id": { "type": "string", "format": "uuid" }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": ["Health"],
                "summary": "Health check",
                "responses": {
                    "200": { "description": "API is healthy", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthResponse" } } } }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ArtifactInput": {
                "type": "object",
                "required": ["file"],
                "properties": {
                    "file": { "type": "string", "format": "binary" },
                    "title": { "type": "string" },
                    "drone_id": { "type": "string" }
                }
            },
            "ArtifactResponse": {
                "type": "object",
                "properties": {
                    "artifact_id": { "type": "string" },
                    "filename": { "type": "string" },
                    "location": { "type": "string" }
                }
            },
            "SensorInput": {
                "type": "object",
                "required": ["sensor_id", "temperature", "humidity"],
                "properties": {
                    "sensor_id": { "type": "string", "example": "Sensor-A1" },
                    "temperature": { "type": "number", "example": 24.5 },
                    "humidity": { "type": "number", "example": 60.2 },
                    "uv_intensity": { "type": "number", "example": 4.5 },
                    "timestamp": { "type": "string", "format": "date-time" }
                }
            },
            "SensorReading": {
                "type": "object",
                "properties": {
                    "sensor_id": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "temperature": { "type": "number" },
                    "humidity": { "type": "number" },
                    "uv_intensity": { "type": "number" },
                    "luminosity": { "type": "number" }
                }
            },
            "AnnotationInput": {
                "type": "object",
                "required": ["object_id", "scenegraph"],
                "properties": {
                    "scene_id": { "type": "string", "format": "uuid" },
                    "object_id": { "type": "string" },
                    "collaborative": { "type": "boolean", "default": false },
                    "scenegraph": {
                        "type": "object",
                        "description": "JSON object defining nodes and edges",
                        "example": {
                            "nodes": {
                                "model.glb": { "urls": ["https://example.com/model.glb"] }
                            },
                            "edges": {
                                ".": ["model.glb"]
                            }
                        }
                    }
                }
            },
            "AnnotationResponse": {
                "type": "object",
                "properties": {
                    "scene_id": { "type": "string" },
                    "object_id": { "type": "string" },
                    "public_url": { "type": "string" },
                    "location": { "type": "string" },
                    "collaborative": { "type": "boolean" },
                    "content": { "type": "string", "description": "JSON string content of the scene" },
                    "timestamp": { "type": "string", "format": "date-time" }
                }
            },
            "HealthResponse": {
                "type": "object",
                "properties": {
                    "status": { "type": "string" },
                    "timestamp": { "type": "string" }
                }
            },
            "Error": {
                "type": "object",
                "properties": {
                    "error": { "type": "string" }
                }
            }
        }
    }
}
